body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f7fa;
}

/* HERO */
.hero {
    background: url('https://images.unsplash.com/photo-1774238357104-dbe2b5ad0209?q=80&w=1974&auto=format&fit=crop') center/cover no-repeat;
    padding: 100px 20px;
}

/* CARDS */
.custom-card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.4s;
    cursor: pointer;
}

.custom-card img {
    height: 160px;
    object-fit: cover;
}

.custom-card:hover {
    transform: scale(1.05);
}